option routers 192.168.178.1;
option domain-name "fritz.box";
option domain-name-servers 192.168.178.34;

default-lease-time 600;
max-lease-time 7200;

ddns-update-style none;

authoritative;

subnet 192.168.178.0 netmask 255.255.255.0 {
  range 192.168.178.20 192.168.178.200;
}

# Cisco Switch SG250 Entrance
host switch82365e {
    hardware ethernet 7c:31:0e:82:36:5e;
    fixed-address 192.168.178.4;
}

# Cisco Switch SG250 Living room 
host switch82093c {
    hardware ethernet 7c:31:0e:82:09:3c;
    fixed-address 192.168.178.5;
}

# Cisco Switch SG250 Second big bedroom
host switch823c5b {
    hardware ethernet 7c:31:0e:82:3c:5b;
    fixed-address 192.168.178.6;
}

# Phin main PC
host orca {
    hardware ethernet fc:aa:14:94:81:de;
    fixed-address 192.168.10.105;
}

# Dragon main PC
host dragon {
    hardware ethernet fc:aa:14:e1:ad:86;
    fixed-address 192.168.178.26;
}

# Denon AVR-X1000
host denon {
    hardware ethernet 00:05:CD:37:38:77;
    fixed-address 192.168.178.22;
}

# CoreELEC
host coreelec {
    hardware ethernet 00:1e:06:42:42:ba;
    fixed-address 192.168.178.58;
}

# Samsung QE75Q6FNA 
host samsung-tv {
    hardware ethernet 70:2a:d5:7c:ee:13;
    fixed-address 192.168.178.38;
}

# Samsung Galaxy Tab S5e
host galaxy-tab-s5e {
    hardware ethernet a8:34:6a:7c:e6:ae;
    fixed-address 192.168.178.69;
}

# iPad
host ipad {
    hardware ethernet a4:d1:d2:75:d6:b9;
    fixed-address 192.168.178.53;
}

# Toon
host toon {
    hardware ethernet 28:c2:dd:de:ae:96;
    fixed-address 192.168.178.23;
}

# FRITZ!WLAN Repeater 1160
host repeater {
    hardware ethernet 9e:9b:cb:80:40:3d;
    fixed-address 192.168.178.70;
}

# Tasmota esp8266 conneted to the house power meter
host tasmota-powermeter {
    hardware ethernet 2c:3a:e8:01:23:11;
    fixed-address 192.168.178.51;
}

# Tasmota Sonoff Pow R2 Module 'A'
host tasmota-powr2-a {
    hardware ethernet cc:50:e3:68:15:f0;
    fixed-address 192.168.178.49;
}

# Tasmota Sonoff Pow R2 Module 'B'
host tasmota-powr2-b {
    hardware ethernet ec:fa:bc:4f:69:77;
    fixed-address 192.168.178.59;
}

# Tasmota Sonoff Pow R2 Module 'C'
host tasmota-powr2-c {
    hardware ethernet ec:fa:bc:4f:69:81;
    fixed-address 192.168.178.61;
}

# Tasmota Sonoff Server power switch 'A'
host tasmota-sw-a {
    hardware ethernet 5c:cf:7f:81:b1:73;
    fixed-address 192.168.178.32;
}

# Tasmota esp8266 bedroom window
host tasmota-bedroom {
    hardware ethernet 5c:cf:7f:85:b2:08;
    fixed-address 192.168.178.21;
}

# ESP32 desk doorbell
host esp32-desk-doorbell {
    hardware ethernet 3c:71:bf:0c:0a:d4;
    fixed-address 192.168.178.39;
}

# ESP32 IR transmitter amp
host esp32-ir {
    hardware ethernet 3c:71:bf:10:84:0c;
    fixed-address 192.168.178.66;
}

# ESP32 Led strip
host esp32-ledstrip {
    hardware ethernet 30:ae:a4:01:ca:70;
    fixed-address 192.168.178.33;
}

# iDrac6 interface Dell R610 server
host idrac-HHRDG4J {
    hardware ethernet 00:22:19:62:31:0e;
    fixed-address 192.168.178.64;
}

# Dell R610 server
host pve {
    hardware ethernet 00:22:19:62:31:06;
    fixed-address 192.168.178.60;
}

# VM ubuntu-k8s-master
host ubuntu-k8s-master {
    hardware ethernet e6:ef:4e:db:ca:28;
    fixed-address 192.168.178.40;
}

# VM ubuntu-k8s-node1
host ubuntu-k8s-node1 {
    hardware ethernet e6:ef:4e:db:ca:29;
    fixed-address 192.168.178.36;
}

# VM ubuntu-k8s-node2
host ubuntu-k8s-node2 {
    hardware ethernet e6:ef:4e:db:ca:30;
    fixed-address 192.168.178.42;
}

# VM ubuntu-k8s-node3
host ubuntu-k8s-node3 {
    hardware ethernet e6:ef:4e:db:ca:31;
    fixed-address 192.168.178.37;
}
