option routers 192.168.178.1;
option domain-name "fritz.box";
option domain-name-servers 192.168.178.34;

default-lease-time 600;
max-lease-time 7200;

ddns-update-style none;

authoritative;

subnet 192.168.178.0 netmask 255.255.255.0 {
  range 192.168.178.20 192.168.178.200;
}

# # Fritzbox
# host router {
#     hardware ethernet E8:DF:70:A2:C0:D0;
#     fixed-address 192.168.178.1;
# }

# Phin main PC
host orca {
    hardware ethernet FC:AA:14:94:81:DE;
    fixed-address 192.168.10.105;
}

# Dragon main PC
host dragon {
    hardware ethernet FC:AA:14:E1:AD:86;
    fixed-address 192.168.178.26;
}

# Cisco Switch SG250 Living room 
host switch82093c {
    hardware ethernet 7C:31:0E:82:09:3C;
    fixed-address 192.168.178.46;
}

# Cisco Switch SG250 Entrance
host switch82365e {
    hardware ethernet 7C:31:0E:82:36:5E;
    fixed-address 192.168.178.47;
}

# Cisco Switch SG250 Second big bedroom
host switch823c5b {
    hardware ethernet 7C:31:0E:82:3C:5B;
    fixed-address 192.168.178.48;
}

# # Laptop server, onboard
# host debian {
#     hardware ethernet 00:90:f5:b5:0b:1b;
#     fixed-address 192.168.178.34;
# }

# # Laptop server, bad dongle
# host debian {
#     hardware ethernet 00:0E:C7:9E:CC:2E;
#     fixed-address 192.168.178.34;
# }

# # Laptop server, Amazon dongle
# host debian {
#     hardware ethernet 00:50:B6:F3:3C:BD;
#     fixed-address 192.168.178.34;
# }

# Denon AVR-X1000
host denon {
    hardware ethernet 00:05:CD:37:38:77;
    fixed-address 192.168.178.22;
}

# CoreELEC
host coreelec {
    hardware ethernet 00:1E:06:42:42:BA;
    fixed-address 192.168.178.58;
}

# Samsung QE75Q6FNA 
host samsung-tv {
    hardware ethernet 70:2A:D5:7C:EE:13;
    fixed-address 192.168.178.38;
}

# OnePlus 5T
host oneplus-5t {
    hardware ethernet 94:65:2D:41:C9:51;
    fixed-address 192.168.178.27;
}

# Samsung Galaxy Tab S5e
host galaxy-tab-s5e {
    hardware ethernet A8:34:6A:7C:E6:AE;
    fixed-address 192.168.178.69;
}

# iPad
host ipad {
    hardware ethernet A4:D1:D2:75:D6:B9;
    fixed-address 192.168.178.53;
}

# Toon
host toon {
    hardware ethernet 28:C2:DD:DE:AE:96;
    fixed-address 192.168.178.23;
}

# FRITZ!WLAN Repeater 1160
host repeater {
    hardware ethernet 9E:9B:CB:80:40:3D;
    fixed-address 192.168.178.70;
}

# Tasmota esp8266 conneted to the house power meter
host tasmota-powermeter {
    hardware ethernet 2C:3A:E8:01:23:11;
    fixed-address 192.168.178.51;
}

# Tasmota Sonoff Pow R2 Module 'A'
host tasmota-powr2-a {
    hardware ethernet CC:50:E3:68:15:F0;
    fixed-address 192.168.178.49;
}

# Tasmota Sonoff Pow R2 Module 'B'
host tasmota-powr2-b {
    hardware ethernet EC:FA:BC:4F:69:77;
    fixed-address 192.168.178.59;
}

# Tasmota Sonoff Pow R2 Module 'C'
host tasmota-powr2-c {
    hardware ethernet EC:FA:BC:4F:69:81;
    fixed-address 192.168.178.61;
}

# Tasmota Sonoff Server power switch 'A'
host tasmota-sw-a {
    hardware ethernet 5C:CF:7F:81:B1:73;
    fixed-address 192.168.178.32;
}

# Tasmota esp8266 bedroom window
host tasmota-bedroom {
    hardware ethernet 5C:CF:7F:85:B2:08;
    fixed-address 192.168.178.21;
}

# ESP32 desk doorbell
host esp32-desk-doorbell {
    hardware ethernet 3C:71:BF:0C:0A:D4;
    fixed-address 192.168.178.39;
}

# ESP32 IR transmitter amp
host esp32-ir {
    hardware ethernet 3C:71:BF:10:84:0C;
    fixed-address 192.168.178.66;
}

# ESP32 Led strip
host esp32-ledstrip {
    hardware ethernet 30:AE:A4:01:CA:70;
    fixed-address 192.168.178.33;
}

# iDrac6 interface Dell R610 server
host idrac-HHRDG4J {
    hardware ethernet 00:22:19:62:31:0E;
    fixed-address 192.168.178.64;
}

# Dell R610 server
host pve {
    hardware ethernet 00:22:19:62:31:06;
    fixed-address 192.168.178.60;
}

# VM ubuntu-k8s-master
host ubuntu-k8s-master {
    hardware ethernet E6:EF:4E:DB:CA:28;
    fixed-address 192.168.178.40;
}

# VM ubuntu-k8s-node1
host ubuntu-k8s-node1 {
    hardware ethernet E6:EF:4E:DB:CA:29;
    fixed-address 192.168.178.36;
}

# VM ubuntu-k8s-node2
host ubuntu-k8s-node2 {
    hardware ethernet E6:EF:4E:DB:CA:30;
    fixed-address 192.168.178.42;
}

# VM ubuntu-k8s-node3
host ubuntu-k8s-node3 {
    hardware ethernet E6:EF:4E:DB:CA:31;
    fixed-address 192.168.178.37;
}
