---
version: '3'
services:
  swag:
    image: linuxserver/swag
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - URL={{ letsencrypt_url }}
      - VALIDATION=http
      - EMAIL={{ letsencrypt_email }}
    volumes:
      - /var/docker/data/swag:/config
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
